<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%=pokemon.name%></title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
      </style>
      <%- include('./partials/style.ejs') %>
      <style>
          h1 {
              font-family: "Press Start 2P";
          }
          .button {
              margin-left: 12%;
          }
      </style>
  </head>
  <body>
    <h1>Edit <%=pokemon.name%></h1>
    <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
        HP: <input type="number" name="HP" value="<%= pokemon.stats.hp %>" /><br />
        <p></p>
        Attack: <input type="number" name="Attack" value="<%= pokemon.stats.attack %>" /><br />
        <p></p>
        Defense: <input type="number" name="Defense" value="<%= pokemon.stats.defense %>"><br />
        <p></p>
        Special Attack: <input type="number" name="Attack" value="<%= pokemon.stats.spattack %>" /><br />
        <p></p>
        Special Defense: <input type="number" name="Special Defense" value="<%= pokemon.stats.spdefense %>">
        <p></p>
        <br />
        <input class='button' type="submit" name="" value="Submit Changes" />
  </body>
</html>
