<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        </style>
    <style>
        body {
            font-family: "Press Start 2P";
            margin-left: 1%;
        }
        h1 {
          margin-top: 1%;
        }
        img {
          border: 5px solid black;
          border-radius: 25px;
        }
    </style>
  <% if (pokemon.type[0] == "Grass") { %>
  <style>
    body { 
      background-color: #78c850;
    }
  </style>
  <% } else if (pokemon.type[0] == "Fire") { %>
    <style>
      body {
        background-color: #F08030;
      }
    </style>
  <% } else if (pokemon.type[0] == "Water") { %>
    <style>
        body {
          background-color: #6890f0;
        }
      </style>
      <% }else if (pokemon.type[0] == "Bug") { %>
        <style>
          body {
            background-color: #a8b820;
          }
        </style>
        <% }else if (pokemon.type[0] == "Normal") { %>
          <style>
            body {
              background-color: #a8a878;
            }
          </style>
          <% }else if (pokemon.type[0] == "Poison") { %>
            <style>
              body {
                background-color: #a040a0;
              }
            </style>
            <% }else if (pokemon.type[0] == "Electric") { %>
              <style>
                body {
                  background-color: #f8d030;
                }
              </style>
              <% }else if (pokemon.type[0] == "Ground") { %>
                <style>
                  body {
                    background-color: #e0c068;
                  }
                </style>
                <% }else if (pokemon.type[0] == "Fairy") { %>
                  <style>
                    body {
                      background-color: #ee99ac;
                    }
                  </style>
                  <% }else if (pokemon.type[0] == "Fighting") { %>
                    <style>
                      body {
                        background-color: #c03028;
                      }
                    </style>
                    <% }else if (pokemon.type[0] == "Psychic") { %>
                      <style>
                        body {
                          background-color: #f85888;
                        }
                      </style>
                      <% }else if (pokemon.type[0] == "Rock") { %>
                        <style>
                          body {
                            background-color: #b8a038;
                          }
                        </style>
                        <% }else if (pokemon.type[0] == "Ghost") { %>
                          <style>
                            body {
                              background-color: #705898;
                            }
                          </style>
                          <% }else if (pokemon.type[0] == "Ice") { %>
                            <style>
                              body {
                                background-color: #98d8d8;
                              }
                            </style>
                            <% }else if (pokemon.type[0] == "Dragon") { %>
                              <style>
                                body {
                                  background-color: #7038f8;
                                }
                              </style>
                              <style>
                                button {
                                  background-color: auto;
                                }
                              </style>
                              <style>
                                button {
                                  color: white;
                                }
                              </style>
                              <% } %>
    <title><%= pokemon.name %></title>
  </head>
  <body>
    <h1><%= pokemon.name %></h1>
    <p>#<%=pokemon.id%></p>
    <img src="<%=pokemon.img%>" />
    <p>
      <strong>Type:</strong> <%= pokemon.type[0] %> <% if (pokemon.type[1]) { %>
      / <%= pokemon.type[1] %> <% } %>
      
    </p>
    <p><strong>Height: </strong> <%= pokemon.misc.height %></p>
    <p><strong>Weight: </strong> <%= pokemon.misc.weight %> kg.</p>
    <p>
      <strong><u>Stats</u></strong>
      <ul>
      <li>HP: <%= pokemon.stats.hp %></li>
      <li>Attack: <%= pokemon.stats.attack %></li>
      <li>Defense: <%= pokemon.stats.defense %></li>
      <li>Special Attack: <%=pokemon.stats.spattack %></li>
      <li>Special Defense: <%=pokemon.stats.spdefense%></li>
      <li>Speed: <%= pokemon.stats.speed %></li>
      </ul>
    </p>
    <div class="container">
      <form action="/pokemon/edit/">
        <button>Edit Pokémon</button>
      </form>
    </div>
  </body>
</html>
