<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        </style>
    <style>
        body {
            font-family: "Press Start 2P";
            margin-left: 1%;
        }
        h1 {
          margin-top: 1%;
        }
        img {
          border: 5px solid black;
          border-radius: 25px;
        }
    </style>
  <%- include('./partials/style.ejs') %>
    <title><%= pokemon.name %></title>
  </head>
  <body>
    <h1><%= pokemon.name %></h1>
    <h3>#<%=pokemon.id%></h3>
    <img src="<%=pokemon.img%>" />
    <p>
      <strong>Type:</strong> <%= pokemon.type[0] %> <% if (pokemon.type[1]) { %>
      / <%= pokemon.type[1] %> <% } %>
      
    </p>
    <p><strong>Height: </strong> <%= pokemon.misc.height %></p>
    <p><strong>Weight: </strong> <%= pokemon.misc.weight %> kg.</p>
    <p>
      <strong><u>Stats</u></strong>
      <ul>
      <li>HP: <%= pokemon.stats.hp %></li>
      <li>Attack: <%= pokemon.stats.attack %></li>
      <li>Defense: <%= pokemon.stats.defense %></li>
      <li>Special Attack: <%=pokemon.stats.spattack %></li>
      <li>Special Defense: <%=pokemon.stats.spdefense%></li>
      <li>Speed: <%= pokemon.stats.speed %></li>
      </ul>
    </p>
    <div class="container">
      <form action="/pokemon/<%=index%>/edit/">
        <button>Edit Pokémon</button>
      </form>
      <form action="/pokemon/<%=index%>?_method=DELETE" method="POST">
      <input type='submit' value="delete Pokémon"> </form>
    </div>
  </body>
</html>
